/* default box margin inside a Clamp. That's the main box */
.main-box { margin: 16px 0; }

/* remove margin and border on small width in first page
  I don't know from where the -2px margin comes from, but with 0 i still get some
  margin */
.clean-list clamp.small .main-box { margin: -2px 0; }
.clean-list clamp.small .main-box > frame > border { border-width: 0; border-bottom-width: 1px;}


/* floating toolbar over map */
.map-toolbar { border-radius: 5px; margin: 0 16px 16px 0; }

